.form {
  padding: 15px;
}

.label {
  cursor: pointer;
}

.btn {
  width: 370px;
}

.loader {
  margin-top: 5px;
}

.boxText {
  display: flex;
  flex-direction: column;
}

.icon {
  margin-left: 5px;
  margin-bottom: 3px;
}
