.section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 25px;
}

.form {
  width: 350px;
}

.label {
  cursor: pointer;
}

.btn {
  width: 350px;
}

.boxText {
  display: flex;
  flex-direction: column;
}
