.item {
  width: 350px;
  padding: 10px;
  display: inline-flex;
  /* justify-content: space-between; */
  align-items: center;
}

.iconUser {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.iconRemove {
  width: 30px;
  height: 30px;
}

.btn {
  margin-left: auto;
}
