.nav {
  margin-top: 15px;
}

.link {
  font-weight: 700;
}

.containerUser {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 2px;
}

.text {
  margin-left: 8px;
}

.button {
  margin-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.icon {
  height: 25px;
  width: 25px;
}

.iconHome {
  margin-bottom: 2px;
  margin-left: 3px;
}

.iconContacts {
  margin-bottom: 2px;
  margin-left: 4px;
  width: 25px;
}
